@{
    ViewData["Title"] = "Team";
}

<head>
    <link href="~/css/team.css" rel="stylesheet" />
    <title>TEAM</title>
</head>

<body>
    <div style="margin-top:20px;"></div>
    <div style="display:flex;align-items:center;margin: 0 50px;">
        <div style="flex:1;border-bottom:3px solid #000;border-radius: 10px;"></div>
        <span style="margin:0 15px; font-size: 24px;">IL NOSTRO TEAM</span>
        <div style="flex:1;border-bottom:3px solid #000;border-radius: 10px;"></div>
    </div>

    <h3 class="paragrafo">
        Il nostro team nasce dall’unione di competenze diverse e dalla voglia condivisa di creare qualcosa
        che lasci il segno. Ognuno porta con sé un bagaglio unico fatto di <span class="evidenziato">ESPERIENZE, IDEE e PROSPETTIVE </span>
        che, messe insieme, diventano la nostra forza più grande. Lavoriamo con <span class="evidenziato">PASSIONE, CURIOSITÀ e
        SPIRITO DI COLLABORAZIONE</span>, affrontando ogni sfida come un’opportunità per crescere. 
        Crediamo nell’<span class="evidenziato">INNOVAZIONE, nella CREATIVITÀ</span> e nel valore delle persone che rendono possibile ogni
        progetto. Siamo un gruppo affiatato, determinato e sempre pronto a migliorarsi. 
    </h3>
    <div style="margin-top:50px;"></div>
    <div class="team">

        <div class="linea">
            <img src="/img/sga.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>ALESSANDRO SGARZI <br /> ORGANIZZATORE</h3>
            </div>
        </div>

        <div class="linea">
            <img src="/img/Chiara (2).jpeg" class="corniceteam" />
            <div class="persona">
                <h3>LUCA PAMPOLINI <br /> SOCIAL MEDIA MANAGER e MARKETING</h3>
               
            </div>
        </div>

        <div class="linea">
            <img src="/img/Tara.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>DIEGO TARARTINO <br /> SOCIAL MEDIA MANAGER e MARKETING</h3>
                
            </div>
        </div>

        <div class="linea">
            <img src="/img/Berna.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>FRANCESCO BERNARDI <br /> SUPPORTO TECTNICO e INFORMATICO</h3>
               
            </div>
        </div>

        <div class="linea">
            <img src="/img/frenci.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>FRANCESCA MAIETTI <br /> SUPPORTO TECTNICO e INFORMATICO</h3>
               
            </div>
        </div>

        <div class="linea">
            <img src="/img/Pampo.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>CHIARA SIMONCINI <br /> LOGISTICA</h3>
               
            </div>
        </div>

        <div class="linea">
            <img src="/img/Pippo.jpeg" class="corniceteam" />
            <div class="persona">
                <h3>FILIPPO LOVO <br /> LOGISTICA</h3>
                
            </div>
        </div>

    </div>

    <div style="margin-top:20px;"></div>

</body>
